body {
    background: url('../../../assets/images/crew/crewBg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 81px; */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    /* gap: 16px; */
    /* margin-top: 49px; */
    position: relative;
    top: -3rem;
}


.sub {
    width: 327px;
    height: 262px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* gap: 16px; */
    /* margin-top: 42px; */
    position: relative;
    bottom: -1.5rem;
    right: 4.2rem;

}

h1 {
    font-size: 28px;
    text-align: center;

}
.circle-div {
    position: relative;
    /* width: 152px; */
    aspect-ratio: 1/1;
    display: flex;
    gap: 1rem;
    place-items: center;
    top: -12rem;
    left: 10rem;
    cursor: pointer;
}

.circle {
    width:15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* background: var(--text-color); */
    color: white;
    border: 1px solid white;
    /* color: var(--primary-color); */
    font-size: 20px;
    position: relative;
    font-size: bold;
    /* cursor: pointer; */
}

.circle:focus {
    /* background-color: white; */
    background: var(--text-color);
    color: var(--primary-color);


}

.name {
    text-align: center;
    font: 16px;
    top: 4.5rem;
    left: 3rem;
    position: relative;
    text-transform: uppercase;
}

.word {
    width: 90vw;
    max-width: 327px;
    height: 150px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    top: 4rem;
    left: 3rem;
    margin-top: 16px;
    position: relative;
}

h5 {
    width: 176px;
    height: 19px;
    top: -1rem;
    left: 7rem;
    position:absolute;
    /* margin-bottom: 32px; */
    font-size: 16px;
    text-align: center;
    /* position: relative; */
    text-transform: uppercase;
}

p {
    font-size: 28px;
    /* width: 90vw; */
    text-align: center;
}

.line {
    width: 410px;
    height: 1px;
    position: absolute;
    background-color: #383b4b;
    /* margin-top:-120px; */
    bottom: -1rem;
    right: 0.2rem;
    /* display: none; */
}

.back-img {
    position: relative;
    width: 327px;
    height: 223px;
    left: -2.5rem;
    bottom: -3rem;
}

.bg {
    bottom: -1.2rem;
    position: relative;
    left: 7rem;

}
.bg-2{
    width: 200px;
    height: 233px;
    bottom: -1.2rem;
    position: relative;
    left: 5.5rem;
}

.bg-desk {
    position: relative;
    width: 433.09px;
    height: 532px;
    left: -2.5rem;
    /* border-radius: 100%; */
    bottom: -3rem;
}

.bg-desk {
    display: none;
}

.show-menu{
    right: 0;

}


/* Tablet Screen */
@media (min-width:768px) {
     body {
        background-image: url('../../../assets/images/crew/Crewbg-desktop.jpg');

    }

    main {
        flex-direction: row;
        height: 80%;
        align-items: flex-end;
        /* padding-bottom: 131px; */
    }

    .main-content {
        align-items: flex-start;
        position: relative;
    }

    .bg-desk {
        width:368.85px;
        height: 532px;
        left: 16rem;
        top: -15.8rem;
        margin: auto;
        /* border-radius: 50%; */
        position: relative;
        display: none;

    }

    .bg {
        display: block;
        width: 600px;
        height: 600px;
        bottom: 16.3rem;
        position: relative;
        left: 9rem;
    }

    .back-img {
        position: relative;
        bottom: -4rem;
    }
    .bg-2{
        width: 600px;
        height: 600px;
        bottom: 16.3rem;
        position: relative;
        left: 9rem;
    }

    h5 {
        width:204px;
        height: 24px;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        top: -35rem;
        right:10rem;
        margin-left: 38.5px;
        position: relative;
        /* padding-bottom: 343px; */
    }

    .sub {
        width: 592px;
        height: 232px;
        top:-32rem;
        position: relative;
        right: 13rem;
        /* margin-top: 246px; */
        /* padding-bottom: 182px; */

    }

    .name {
        width: 458px;
        height: 182px;
        position: absolute;
        top: 3.5rem;
        text-align: center;
        font-size:24px;
        font-weight: 400;

    }
    p{
        width: 457px;
        height: 46px;
        font-size: 40px;
        position: relative;
        right: -0.5rem;
        bottom: -2rem;
    }
    .career{
        width:240px;
        height: 28px;
        right:6rem;
        position: absolute;
    }

    h1 {
        width: 333px;
        height: 115px;
        font-size: 100px;
        font-weight: 400;
    }

    .word {
        max-width:458px;
        height: 84px;
        font-size: 16px;
        font-weight: 400;
        text-align:center;
        top: 8rem;
        position: absolute;
        /* word-spacing: -1px; */

        position: relative;
        /* text-align:center; */
    }

    .radio {
        width: 88px;
        height: 10px;
        position: absolute;
        bottom: -2rem;
        left: 15rem;
        margin-top: 40px;
        /* color: #383b4b; */
        /* left: -9rem; */


    }
    .circle-div{
        top:100px;
        left:220px;
    }

    }
   
   
    /* desktop screen */
@media(min-width:1110px) {
   body {
        background-image: url('../../../assets/images/crew/Crewbg-desktop.jpg');

    }

    main {
        flex-direction: row;
        height: 80%;
        align-items: flex-end;
        /* padding-bottom: 131px; */
    }

    .main-content {
        align-items: flex-start;
        position: relative;
    }

    .bg-desk {
        width: 453.44px;
        height:580px;
        left: 17.5rem;
        top: -23.3rem;
        margin: auto;
        /* border-radius: 50%; */
        position:absolute;
        display: inline;

    }

    .bg {
        display: none;
    }
    .bg-2{
        display: none;
    }

    .section-one{
        position: relative;
        bottom: -4rem;
    }

    h5 {
        position: absolute;
        width:286px;
        height: 34px;
        top:-26rem;
        left:-30.5rem ;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .sub {
        width: 592px;
        height: 232px;
        top:270px;
        position:absolute;
        left: 2rem;
        /* margin-top: 246px; */
        /* padding-bottom: 182px; */

    }

    .name {
        width: 433px;
        height: 64px;
        position: absolute;
        /* top: 4rem; */
        right: -1rem;
        font-size:32px;
        font-weight: 400;

    }
    p {
        font-size:56px;
        position: relative;
        top:-0.7rem;
        left: -9.5rem;
        width:800px;
        height: 64px;
        /* text-align: center;  */
    }

    .p2{
        font-size:56px;
        position: relative;
        top:-0.7rem;
        left: -5.5rem;
        width:800px;
        height: 64px;
    }

    h1 {
        width: 333px;
        height: 115px;
        font-size: 100px;
        font-weight: 400;
    }

    .word {
        max-width:444px;
        height:128px;
        font-size: 18px;
        font-weight: 400;
        text-align:justify;
        top: 8rem;
        position: absolute;
        /* word-spacing: -1px; */

        position: relative;
        /* text-align:center; */
    }

    .radio {
        width: 132px;
        height: 15px;
        position: absolute;
        bottom:-5rem;
        left: 1rem;
        margin-top: 40px;
        /* color: #383b4b; */
        /* left: -9rem; */


    }
    .line{
        position:absolute;
        top: -32rem;
        right:11rem;
    }
    .career{
        width:309px;
        height: 37px;
        position: relative;
        right: 3.6rem;
    }
    .circle-div{
        left: 50px;
    }
}